/* 404 styles
	 ========================================================================== */
.error-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-404 .page-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.error-404 .page-content {
    margin-top: 0;
}

#ok-button {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 200;
    background-color: black;
    color: white;
    padding: 0.5rem 5rem;
}

#ok-button:hover {
    font-weight: 300;
}