/* Front page styles
	 ========================================================================== */
.front-page-header .title {
    padding: 1rem 1rem 0.25rem 1rem;
    margin: unset;

    font-size: 2.5rem;
    font-weight: 200;
    color: black;
}

.front-page-header .text {
    display: block;
    padding-left: 1rem;

    font-weight: 300;
    color: black;
}

.button-container {
    margin-top: 1rem;
}

.button-container>:first-child {
    margin-left: 1rem;
}

/* For really small screens, place the second button under the first */
@media only screen and (max-width: 380px) {
    .button-container>:nth-child(2) {
        margin-top: 1rem;
        margin-left: 1rem;
    }
}

.button-container a {
    display: inline-block;
    padding: 0.5rem;

    border: 0.125rem solid black;
    text-decoration: none;
}

/* Desktop */
@media only screen and (min-width: 768px) {
    .front-page-header .title {
        font-size: 3rem;
    }

    .front-page-header .text {
        font-size: 1.25rem;
    }
}