/* Styles for creativehubs.gr header */
.site-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 1em;
}

.site-branding {
	width: 20%;
	height: 20%;
}

@media only screen and (max-width: 768px) {
	.site-branding {
		width: 50%;
		height: 50%;
	}
}

/* Desktop Navigation */
.main-navigation {
	width: unset;
}

.menu-item {
	padding: 0.75em;
	font-family: "Segoe UI";
	font-weight: 400;
	font-size: 1.125rem;
}

/* Mobile Navigation */
.hamburger-container {
	display: block;
	cursor: pointer;
}

@media only screen and (min-width: 768px) {
	.hamburger-container {
		display: none;
	}
}

.hamburger-bar-1, .hamburger-bar-2, .hamburger-bar-3 {
	width: 35px;
	height: 5px;
	margin: 6px 0;
	background-color: black;
	transition: 0.4s;
}

.change-hamburger .hamburger-bar-1 {
	transform: translate(0, 11px) rotate(-45deg);
}

.change-hamburger .hamburger-bar-2 {
	opacity: 0;
}

.change-hamburger .hamburger-bar-3 {
	transform: translate(0, -11px) rotate(45deg);
}

/* Flags and Language */
img[alt="EN"], img[alt="ΕΛ"] {
	width: 19px !important;
	height: 13px !important;
}
