/* Styles for creativehubs.gr header */

.site-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 1em;
}

.site-branding {
	width: 20%;
	height: 20%;
}

.main-navigation {
	width: unset;
}

.menu-item {
	padding: 0.75em;
	font-family: "Segoe UI";
	font-weight: 400;
	font-size: 1.125rem;
}

img[alt="EN"], img[alt="ΕΛ"] {
	width: 19px !important;
	height: 13px !important;
}

@media only screen and (max-width: 768px) {
	.site-branding {
		width: 50%;
		height: 50%;
	}
}
